@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@layer base {
  a {
    @apply no-underline;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    @apply text-black outline-none;
  }
  [type="text"],
  [type="tel"],
  [type="email"] {
    @apply text-black;
  }
  select {
    @apply text-black outline-none;
  }

  input {
    @apply focus:outline-none bg-transparent text-black;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .project-content p {
    @apply text-lg sm:text-xl my-4;
  }

  .project-content h3 {
    @apply text-lg sm:text-xl my-5 font-bold;
  }

  .gallery .pswp__img {
    @apply !w-auto max-w-full !h-auto !max-h-[90vh] inset-0 m-auto;
  }

  .gallery .pswp__zoom-wrap {
    @apply !w-full !h-full;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer utilities {
  .modal-open {
    @apply overflow-hidden;
  }
}

.modal-enter-from {
  @apply opacity-0;
}

.modal-leave-to {
  @apply opacity-0;
}

.modal-enter-from #modal-container,
.modal-leave-to #modal-container {
  @apply scale-110;
}

.modal-enter-from #hamburger-container,
.modal-leave-to #hamburger-container {
  @apply translate-x-full;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-200;
}

.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}

.list-offset-enter,
.list-offset-leave-to {
  @apply opacity-0 -translate-x-full;
}

.list-offset-leave-active {
  @apply absolute;
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}

.bounce-enter-active {
  animation: bounce-in 0.3s;
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* transition animations */

/* Vue slider */

.carousel__prev,
.carousel__next {
  background-color: var(--theme-color-primary) !important;
}

.carousel__pagination-button {
  background-color: var(--theme-color-primary) !important;
  opacity: 0.5;
}

.carousel__pagination-button--active {
  background-color: var(--theme-color-primary-hover) !important;
  opacity: 1;
}

:host {
  --rem: 16px;
  --font-bold: 700;
  --white: #fff;
}

:root {
  --theme-color-primary: #3c7bff;
  --theme-color-primary-hover: #3b29ff;
}
